extends layout

block content
  h1= title
  - let results = thejack
  div(class="container-fuild")
    div(class="row")
     each item in results 
      - let destination = `dispatch(\"/jack/update?id=${item._id}\")`
      div(class="row-sm-2", class="m-1") Item #{item.Itemname}(#{item.price}) is #{item.quantity}
       button.btn( class="btn-primary ml-1", onclick= destination) Update 

  script. 
    function dispatch(path){ 
      window.location.href=path 
    }
    
//-
      each result,index in results
        div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
          p #{result.Itemname}
          p #{result.price}
          p #{result.quantity}

  script.
    function buy(element){
      alert(`You purchased item is ${element+1}.`)
    }
